{{#each this}}
  <li class='movie-card'>
    <div class='movie-body'>
      <img
        src='https://image.tmdb.org/t/p/original/{{backdrop_path}}'
        alt='{{original_title}}'
        class='movie-image'
      />
    </div>
    <div class='movie-about'>
      <p class='movie-title'>{{original_title}}</p>
      <p class='movie-release-date'>{{release_date}}</p>
    </div>
  </li>
{{/each}}