<header class="header header-home" id="Home">
    <div class="container">
        <nav class="nav">
            <a href="./index.html" class="main-page-link">
                <svg class="header-logo" width="24" height="24">
                    <use href="./images/sprite.svg#icon-film"></use>
                </svg>
                <span class="site-title">Filmoteka</span>
            </a>

            <ul class="nav-list list">
                <li class="nav-list-item">
                    <a href="" class="nav-list-link current-page">Home<a>
                </li>
                <li class="nav-list-item ">
                    <a href="" class="nav-list-link library-js">My library</a>
                </li>
            </ul>
        </nav>

        <!-- <span class="input-wrapper"> -->
            <form action="" class="search-form ">
                <input class="search-form-input" 
                    type="text" 
                    name="query" 
                    placeholder="Поиск фильмов" 
                    autocomplete="off">   
                <svg class="search-input-icon" width="12" height="12">
                    <use href="./images/sprite.svg#icon-search"></use>
                </svg>
            </form>
        <!-- </span> -->
        

        <ul class="buttons list visually-hidden">
            <li class="buttons-item">
                <button type="button" class="library-btn enabled-btn watched-js">Watched</button>
            </li>
            <li class="buttons-item">
                <button type="button" class="library-btn disabled-btn queue-js">Queue</button>
            </li>
        </ul>

    </div>

</header>