<section class="header">
    <div class="container">
        <nav class="nav">
            <a href="./index.html" class="main-page-link">Filmoteka</a>

            <ul class="nav-list">
                <li class="nav-list-item">
                    <a href="" class="nav-list-link">Home<a>
                </li>
                <li class="nav-list-link">
                    <a href="" class="nav-list-link">My library</a>
                </li>
            </ul>
        </nav>

        <input type="text" placeholder="Поиск фильмов " class="search-query">   

        <div class="buttons-container visually-hidden">
            <button type="button" class="watched-btn">Watched</button>
            <button type="button" class="queue-btn">Queue</button>
        </div>

    </div>

</section>