<div class="backdrop is-hidden">
    <div class="modal">
        
        <button type="button" class="close-btn" data-modal-close>
            <svg class="modal-close-icon">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>

        <div class="modal-card-container">

            <div class="modal-movie-card" data-id="444">
                <div class="modal-poster-container">
                    <img src="" alt="">
                </div>
            
                <div class="card-descr-container">
                    
                    <h1 class="modal-movie-title">A FISTFUL OF LEAD</h1>

                    <div class="card-descr-elements">
                        <p class="elem">Vote / Votes
                            <span class="vote"> <span class="vote-average">7.6</span>  / <span class="vote-count">1234</span></span>
                        </p>
                        
                        <p class="elem">Popularity
                            <span class="pop">100.2</span>
                        </p>
                        
                        <p class="elem">Original Title
                            <span class="original">A FISTFUL OF LEAD</span>
                        </p>
                        
                        <p class="elem">Genre
                            <span class="genre">Western</span>
                        </p>
                    </div>
            
                    <p class="modal-about">ABOUT</p>
                    <p class="modal-movie-description">Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt settlement of the
                    gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out in the
                    abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the very same
                    bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead... they’ve
                    been double crossed – but by who and how?</p>
                </div>

                <div class="modal-buttons-container">
                
                    <button type="button" class="watched">Add to watched</button>
                    <button type="button" class="queue">Add to queue</button>
                
                </div>
            </div>
        </div>
    </div>
</div>