<div class="pagination">
    <div class="pagination-left">
        <button type="button" id="button-prev">prev</button>
    </div>
    
    <div class="pagination-mid">
        <div class="first">
            <button type="button" id="first-page">1</button>
            <span class="dots">...</span>
        </div>

        <ul class="pages"></ul>

        <div class="last">
            <span class="dots">...</span>
            <button type="button" id="last-page"></button>
        </div>
    </div>
    
    <div class="pagination-right">
        <button type="button" id="button-next">next</button>
    </div>
</div>