.youTube-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 15px;
  background-color: var(--black);
  justify-content: center;
  align-items: center;
  z-index: 2000;

  @media screen and (max-width: 479px) {
    //   width: 250px;
    //   height: 162px;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 180px;
    height: 162px;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    padding: 25px;
    width: 618px;
    height: 302px;
  }

  @media screen and (min-width: 1024px) {
    padding: 40px;
    max-width: 900px;
    max-height: 700px;
  }
}

.ytp-cued-thumbnail-overlay {
  //   width: 150px;
  //   height: 162px;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 250px;
    height: 162px;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 618px;
    height: 462px;
  }
}

.youTube-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 14px;
  height: 14px;

  &:hover,
  &:focus {
    background-color: red;

    transition: transform var(--animation-duration) var(--timing-function);
    width: 40px;
    height: 40px;
  }
}
