.youTube-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 15px;
  justify-content: center;
  align-items: center;
  z-index: 2000;

  @media screen and (max-width: 479px) {
    //   width: 250px;
    //   height: 162px;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    // width: 180px;
    // height: 162px;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    padding: 25px;
    // width: 618px;
    // height: 302px;
  }

  @media screen and (min-width: 1024px) {
    padding: 40px;
    // max-width: 900px;
    // max-height: 700px;
  }
}

.ytp-cued-thumbnail-overlay {
  //   width: 150px;
  //   height: 162px;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 250px;
    height: 162px;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 618px;
    height: 462px;
  }
}

.youTube-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 14px;
  height: 14px;

  &:hover,
  &:focus {
    transition: transform var(--animation-duration) var(--timing-function);
    // width: 40px;
    // height: 40px;

    //background-color: rgba(233, 101, 24, 0.5);
    background-color: var(--button-and-text-orange);
    fill: var(--white);
  }
}
.youtube-btn {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: inherit;
  width: 328.5px;
  height: 477px;
  border-radius: 5px;

  outline: none;
  border: none;
  cursor: pointer;
  opacity: 0;

  top: 20%;
  right: 40%;

  @media screen and (max-width: 479px) {
    top: 30%;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    top: 30%;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    top: 40%;
    right: 70%;
  }

  @media screen and (min-width: 1024px) {
    top: 50px;
    left: 30px;
  }

  &:hover,
  &:focus {
    background: rgba(0, 0, 0, 0.4);
    opacity: 1;
    transition: opacity var(--animation-duration) var(--timing-function);
  }

  .modal-movie-poster:hover {
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity var(--animation-duration) var(--timing-function);
  }
}
.modal-play-icon {
  // fill: red;
  background: url('../images/play2.svg') no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  pointer-events: none;
}
